<%= form_with(model: bookmark, local: true, class: "form-horizontal") do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</strong>

      <%= bookmark.errors.full_messages.join(", ") %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "control-label col-sm-2" %>
    <div class="col-md-6 col-sm-8">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :url, class: "control-label col-sm-2" %>
    <div class="col-md-6 col-sm-8">
      <%= form.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :url_short, class: "control-label col-sm-2" %>
    <div class="col-md-6 col-sm-8">
      <%= form.text_field :url_short, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tags, class: "control-label col-sm-2" %>
    <div class="col-md-6 col-sm-8">
      <%= form.text_field :tags, value: bookmark_tags(@bookmark), class: "form-control" %>
    </div>
  </div>

  <div class="actions text-right col-md-8 col-sm-10">
    <%= form.submit "Save Bookmark", class: "btn btn-primary" %>
  </div>
<% end %>
